body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
}

#sidebarcontainer {
  display: block;
  width: 25%;
  height: 100%;
}

#sidebar {
  height:100%;
  overflow: hidden;
}

#sidebar-content {
  height:100%;
  margin-top: 8px;
  margin-bottom: 8px;
  overflow: auto;
}

#separator {
  width: 10px;
  position: relative;
  border-right: 1px solid black;
  cursor: col-resize;
  height: 100%;
}

#map {
  flex: 1 0;
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  height: 100%;
}

div.trkpt {
  display: grid;
  grid-template-columns: max-content 4em auto;
}

div.trkpt > div.timestamp {
  grid-column: 1;
  margin-right: 0.5em;
  flex-grow: 0;
}

div.trkpt > div.distance {
  grid-column: 2;
  text-align: right;
}
